.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 16px 16px 26px;
}

.header__time {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    padding-top: 2px;
}

.header__image {
    padding-left: 2px;
}